ios/ linguist-vendored
android/ linguist-vendored
*.xml linguist-vendored linguist-detectable=false
*.plist linguist-vendored linguist-detectable=false
*.storyboard linguist-vendored linguist-detectable=false
